asgiref
certifi
charset-normalizer
defusedxml
Django
djangorestframework
httpie
idna
markdown-it-py
mdurl
multidict
Pygments
PySocks
requests
requests-toolbelt
rich
sqlparse
urllib3
django-cors-headers
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv