@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

/* Remove the body flex styles completely */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}